.config-title{
    text-align: center;
    font-size: larger;
    font-size: 2rem;
    font-weight: bolder;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}
table th {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}